<div class="c-modal">
  <div class="c-modal__container">
    <div class="c-modal__header">
      <h1>Stationary Cupboard</h1>
    </div>
    <div class="c-modal__login">
      <%= button_to 'Login', admin_root_path, class: 'c-modal__login--button', method: 'get' %>
    </div>
  </div>
</div>